# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\JAVA\YLAB_Motuzok_core\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
